<section class="card dash-card">
  <a href="/blog/{{id}}">
    <header>{{title}} {{format_date date_created}}</header>
    <div class = "card-body">
      {{ limitChars content }}
    </div>
  </a>
</section>