<div class="comment-card">
{{#if logged_in}}
  <h2 class="page-title">Add Comment</h2>
  <form class="form comment-form" autocomplete="off">
    <div class="form-group">
      <label for="comment-field">Comment:</label>
      <input class="form-input" type="textfield" id="comment-field" />
    </div>
    <div class="form-group">
      <button class="btn btn-sm btn-primary" id="comment-submit" data-user-id="{{userID}} "data-blog-id="{{blog.id}}">Comment</button>
    </div>
  </form>
</div>

<script src="/js/comment.js"></script>
{{else}}
<p class="text-center"><a href="/login">Login</a> to leave a comment</p>
{{/if}}