<div class="comment-card">
  <h2 class="page-title">Add Comment</h2>
  <form class="form comment-form">
    <div class="form-group">
      <label for="comment-field">Comment:</label>
      <input class="form-input" type="textfield" id="comment-field" />
    </div>
    <div class="form-group">
      <button class="btn btn-sm btn-primary" id="comment-submit" data-user-id="{{userID}} "data-comm-id="{{blog.id}}">Comment</button>
    </div>
  </form>
</div>

<script src="/js/comment.js"></script>