<section class="container">
    BLOG!
    <header>
        <span class="blog-title">{{blog.title}}</span>
        <span class="blog-poster">Posted by: {{blog.user.username}}</span>
    </header>
    <p class="blog-content">{{blog.content}}</p>
    <span class="blog-date">Posted: {{format_date blog.date_created}}</span>
</section>
<section class="comments">
    {{#each blog.comments as |comment|}}
    {{> comment-details}}
    {{/each}}
</section>