<section class="container">
  DASHBOARD
  <!-- If the user is logged in, render their blogs content -->
  {{#if loggedIn}}
    {{#each blogs as |blog|}}
    {{> blog-details}}
    {{/each}}
</section>
<!-- Otherwise, provide a link to login -->
{{else}}
<a href="/login">You must login first to view your dashboard</a>
{{/if}}